@use 'base/variables' as v;
@use 'base/mixins' as m;

.dark-mode{
    background-color: darken(v.$grisOscuro, 10);
    
    p{
        color: v.$blanco;
    }
    a,h1,h2,h3,h4{
        color: v.$gris;
    }
    .derecha-contenido{
        background-color: v.$grisOscuro;
        @include m.tablet {
            background-color: transparent
        };
    }
    .dark-mode-boton{
        filter: invert(100%);
    }
    .header .navegacion{
        a{
            color: v.$blanco;
            border-bottom: .1rem solid darken(v.$blanco, 50%);

            @include m.tablet {
                border-bottom: none;
            };
        }
    }
    .anuncio,
    .resumen-propiedad{
        background-color: v.$grisOscuro;
        border: .1rem solid v.$grisOscuro;

        .precio{
            color: v.$verde;
        }
        .icono{
            filter: invert(100%);
        }
    }
    .resumen-propiedad{
        padding-inline: 2rem;
    }

    .texto-nosotros blockquote{
      color: v.$blanco; 
    }

    .formulario{
        label,
        legend,
        p{
            color: v.$gris;
        }
        input:not([type="submit"]),
        textarea,
        select{
            background-color: v.$grisOscuro;
            color: v.$blanco;
            border: 1px solid v.$grisOscuro;
        }
    }

    table.propiedades{
        tr{
            background-color: v.$grisOscuro;
            @include m.tablet {
                background:none; 
            };
        }
        td{
            color: v.$blanco;
        }
    }
    .paginacion{
        .active{
            background-color: v.$grisOscuro;
        }
        a,p{
            color: v.$blanco;
        }
    }


}