@use 'base/variables' as v;
@use 'base/mixins' as m;

$color-border: darken(v.$blanco, 50%);

.paginacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-block: 5rem;

    @include m.telefono {
        flex-direction: row;
    };

    p{
        margin: 0;
    }
    .paginacion__actual{
        font-size: 1.8rem;
        color: darken(v.$gris, 40%);
    }

    &__enlaces{
        display: flex;
        // gap: 1rem;
        align-items: center;
        
        .active{
            background-color: $color-border;
        }
        a,p{
            color: v.$negro;
            border: .1rem solid $color-border;
            border-left: none;
            padding: .2rem 1rem;
            min-width: 3rem;
            text-align: center;
            font-size: 1.6rem;
            @include m.tablet {
                font-size: 1.8rem;
                min-width: 4rem;
                padding: .5rem 1rem;
            };
            
        }
        a:last-child{
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
        }
        a:first-child{
            border-left: .1rem solid $color-border;;
            border-top-left-radius: .5rem;
            border-bottom-left-radius: .5rem;
        }
    }
}